.productForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(280px, 90vw, 500px);
  padding: 30px;
  border-radius: 8px;
}

.productForm input,
.productForm select {
  padding: 12px 15px;
  font-size: 16px;
  width: 100%;
  background: gainsboro;
  border: none;
  border-radius: 5px;
  color: rgb(40, 40, 40);
  outline: none;
}

.productForm input:focus,
.productForm select:focus {
  background: white;
  border: 1px solid rgba(170, 59, 255, 0.3);
}

.productForm input::placeholder {
  color: rgb(40, 40, 40);
}

.productForm label {
  text-align: left;
  margin-top: 10px;
}

.close {
  position: absolute;
  top: 2%;
  left: 90%;
  font-size: larger;
  cursor: pointer;
}

.imgPreview {
  width: 100%;
  position: relative;

}
.imgPreview img {
  width: 50%;
  

}

.imgPreview span {
  position: absolute;
  top: 1%;
  left: 70%;
  cursor: pointer;
}

.imgPreview span:hover {
  color: red;
}