.grid_template_columns {
  width: 100vw;
  list-style: none;
  display: inline-grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(15%, auto));
  grid-auto-rows: minmax(20%, auto);
  gap: 20px;
  box-sizing: border-box;

}

@media (max-width:769px) {
  .grid_template_columns {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(400px, auto);
  }

}