.filterProducts {
  z-index: 98;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}


.filterProducts input {
  width: 50%;
  padding: 15px 20px;
  background: url('/public/search-286-64.png') no-repeat left;
  background-size: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

.selectBgRight {

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filterProducts input,
select {

  background-color: white;
  border: none;


}


.filterProducts select {
  width: 25%;
  padding: 14px 20px;
  outline: none;
}

.filterProducts select:focus {
  outline: none;
}

.filterProducts input:focus {
  outline: none;
}