.filterProducts {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  position: sticky;
  z-index: 100;
  top: 100px
}

.filterProducts select {
  height: 100%;
  color:#e5e4e7;

}

.filterProducts input {
 
  border: 1px solid rgb(40, 40, 40);
  height: 100%;
  color: rgb(40, 40, 40);
  background: url('/public/search-286-64.png');
   background-color: rgb(245, 245, 245);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30px;
  padding-left: 30px;
  padding-top:5px;
  padding-bottom: 5px;

}


.filterProducts input::placeholder {
  color: rgb(40, 40, 40);
}

