.productCard{
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background: white;
  transition: .3s all;
  border: 1px solid  grey;
}

.productCard img{
  width:100%;
  height: 55%;
  object-fit: cover;
  border:1px solid grey
}

.info{
text-align: left;
}
.info div{
  margin-bottom: 5px;
}
.buyInfo{
  display: flex;
  gap: 5px;
}


.productCard:hover {
  transform: translateY(-10%);
}


.basketBtns button{
  margin-left:5px
}

