.modal {

  background-color: rgb(176, 203, 173);
  width: clamp(300px, 20%, 600px);
  aspect-ratio: 1/1;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
 
}

.closeBtn {
  position: absolute;
  top: 5%;
  left: 90%;
  cursor: pointer;
}